{%- extends "layout.html" %}
{%- block content %}

<div class="container">

    <br />

    <p class="note note-primary" style="box-shadow: 0 2px 5px rgba(0,0,0,0.26)">
        <strong></strong>ようこそ、しふたんへ！！
    </p>

    <br />    

    <!-- メイン画面 -->
    <div class="small_form">
        <h2>CSVファイルの読み込み</h2>
        <a href="https://chouseisan.com/">調整さん</a>で作成したCSVファイルを指定してください。
        <br />
        <br />
        <div class="form-file mb-4" >
            <input type="file" class="form-control" id="customFile">
        </div>
        <h2>オプション</h2>
        <div style="align-items: center;">
            <table style="width: 100%;">
                <tr>
                    <th>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                            <label class="form-check-label" for="flexSwitchCheckDefault">オプション1</label>
                        </div>
                    </th>
                    <th>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                            <label class="form-check-label" for="flexCheckDefault">
                                オプション2
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                            <label class="form-check-label" for="flexCheckDefault">
                                オプション3
                            </label>
                        </div>
                    </th>
                </tr>
            </table>
        </div>
        <br />
        <button type="button" class="btn btn-default waves-effect waves-light"
            style="background: #4285F4; color: #ffffff; width:100%;padding:10px;font-size:30px;">シフト作成！</button>

    </div>
    <!-- /メイン画面 -->
</div>
{%- endblock %}