{%- extends "layout.html" %}
{%- block content %}

<div class="container">

    <br />

    
    {% if note == 0  %}
    <p class="note note-primary" style="box-shadow: 0 2px 5px rgba(0,0,0,0.26)">
        <strong></strong>ようこそ、しふたんへ！！
    </p>
    {% endif %}

    <!-- もしファイル選択がされなかったら -->
    {% if note == 1 %}
    <p class="note note-danger" style="box-shadow: 0 2px 5px rgba(0,0,0,0.26)">
        <strong>警告！:</strong> CSVファイルが指定されていません！
    </p>
    {% endif %}

    <br />

    <!-- メイン画面 -->
    <div class="small_form">
        <form action="/" method="POST" enctype="multipart/form-data">
            <h2>CSVファイルの読み込み</h2>
            <a href="https://chouseisan.com/">調整さん</a>で作成したCSVファイルを指定してください。
            <br />
            <br />
            <div class="form-file mb-4">

                <input type="file" name="csv" class="form-control" id="customFile" accept=".csv">

            </div>
            
            <br />
            <button type="submit" class="btn btn-default waves-effect waves-light"
                style="background: #4285F4; color: #ffffff; width:100%;padding:10px;font-size:30px;">シフト作成！</button>
        </form>
    </div>
    <!-- /メイン画面 -->
</div>
{%- endblock %}